* {
  /* Reset styles */
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  /* Hovedstyling */
  background-color: #fffbf8;
  margin: 2vh;
}

h1 {
  font-family: "Courier Prime", monospace;
  font-weight: lighter;
  text-align: center;
  font-size: 3.5vh;
}

h2 {
  font-family: "Inria Sans", sans-serif;
  font-weight: lighter;
  text-align: center;
  padding-bottom: 40px;
  font-size: 3vh;
}

h3 {
  font-family: "Inria Sans", sans-serif;
  font-weight: lighter;
  font-size: 2.5vh;
}

li {
  /* Styling af liste */
  display: flex;
  justify-content: space-between;
  list-style: none;
  font-family: "Inria Sans", sans-serif;
  font-size: 2vh;
  padding: 10px;
  border-bottom: 1px solid #ccc;
  margin-bottom: 20px;
  color: grey;
}

.todo-li {
  /* Styling af todo-liste */
  display: flex;
  justify-content: center;
  gap: 20px;
}

input[type="text"] {
  /* Styling af inputfelt */
  width: 75%;
  padding: 12px 20px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.1);
}

input[type="text"]:focus {
  /* Fokus-effekt på inputfelt */
  border-color: grey;
  outline: none;
  box-shadow: 0 0 5px rgba(106, 173, 255, 0.5);
}

button[id="submit"] {
  /* Styling af submit-knap */
  font-family: "Inria Sans", sans-serif;
  font-size: 2.5vh;
  font-weight: lighter;
  padding: 10px;
  margin-left: 20px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 2px solid #6eadff;
  background: #abcfff;
  cursor: pointer;
}

button[id="submit"]:hover {
  /* Hover-effekt på submit-knap */
  background: #98c4ff;
}

.priority {
  /* Styling af prioritet-input */
  display: flex;
  align-items: center;
  gap: 5px;
  font-family: "Inria Sans", sans-serif;
  margin-bottom: 20px;
}

label {
  /* Styling af label */
  margin-right: 10px;
  font-size: 2.5vh;
  font-weight: lighter;
}

#todo_priority_input {
  /* Styling af prioritet-inputfelt */
  font-family: "Inria Sans", sans-serif;
  font-size: 1.7vh;
  font-weight: lighter;
  padding: 10px;
  border: 2px solid #6eadff;
  background: #abcfff;
  width: 55px;
  height: 55px;
  border-radius: 50%;
}

.delete-btn {
  /* Styling af slet-knap */
  font-family: "Inria Sans", sans-serif;
  font-size: 1.7vh;
  font-weight: lighter;
  padding: 10px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 2px solid #ff6e6e;
  background: #ffabab;
  cursor: pointer;
}

input[type="checkbox"] {
  /* Styling af checkbox */
  appearance: none;
  width: 50px;
  height: 50px;
  border: 2px solid #6eadff;
  border-radius: 50%;
  background: #fff;
  cursor: pointer;
}

input[type="checkbox"]:checked {
  /* Styling af markeret checkbox */
  border: 2px solid #6eadff;
  background: #abcfff;
}

@media (min-width: 800px) {
  body {
    margin: 50px 100px 50px 100px;
  }
}
